/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
body {
  background-color: #cfd7df;
  max-width: 100%;
  overflow-x: hidden;
}
header {
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  background-color: #212c2c;
  z-index: 110;
}
footer {
  background-color: #212c2c;
  min-height: 200px;
}
.logo {
  font-family: Impact;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  /*border-bottom: 3px solid rgb(255, 110, 25);
  border-top: 3px solid rgb(255, 110, 25);*/
}
.logosB {
  font-family: Impact;
  color: rgb(255, 110, 25) !important;
  font-size: 30px !important;
  font-weight: initial !important;
}
.logo span {
  font-size: 16px;
  color: rgb(255, 188, 149);
  font-weight: bolder;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1600px;
  margin: auto;
}
.wrapper {
  max-width: 1600px;
  margin: auto;
}
.each-header-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-main-nav {
  padding-top: 10px;
}
.header-main-nav ul li {
  display: inline;
  margin-left: 20px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}
.header-main-nav ul li i {
  color: rgb(87, 221, 255);
  margin-right: 5px;
  font-size: 15px;
}
.header-main-nav ul li:hover i {
  color: rgb(255, 110, 25);
}
.header-main-nav ul li:hover {
  color: rgb(255, 188, 149);
}
.header-main-nav ul li.active i {
  color: rgb(255, 110, 25);
}
.header-main-nav ul li.active {
  color: rgb(255, 188, 149) !important;
}
.header-search-section {
  width: 50%;
}
.search-container {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.search-input {
  padding: 10px;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  font-size: 14px;
  width: calc(100% - 100px);
}
.search-button {
  font-size: 14px;
  padding: 10px;
  font-weight: bolder;
  border: none;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  color: red;
  text-align: center;
  letter-spacing: 1px;
  width: 100px;
}
.search-button span {
  font-size: 14px;
}
.hero-section {
  padding-top: 90px;
  width: 100vw;
  min-height: 100vh;
}
.hero-section-inner {
  background-color: #212c2c;
  padding: 0 10px;
  height: 100%;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 30px;
}
.top-border {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  display: block;
  border-bottom: #374949 1px solid;
  max-width: 700px;
}
.section-title {
  color: white;
  text-align: center;
  font-size: 19px;
  font-family: serif;
  font-family: "Courgette";
  padding: 10px 0;
}
.site-news-section {
  min-height: 500px;
  background-color: #212c2c;
  margin: 20px 0;
  padding: 1px 0;
}
#popular-services-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.each-popular-service img {
  width: 40px;
  height: 40px;
}
.each-popular-service .img-p {
  text-align: center;
}
.each-popular-service .name-p {
  text-align: center;
  color: #ccc;
  font-size: 12px;
}
.homepage-favorite-services-list {
  width: 85%;
  margin: auto;
}
.homepage-each-favorite-service {
  min-height: 120px;
  background-color: #334d81;
  border-top: 10px solid #ffe96b;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.5),
    0px 0px 2.9px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 5px;
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.5),
    0px 0px 2.9px rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(116, 115, 15, 0.8)),
    url("./images/stetoscopeBg.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-each-favorite-service-image {
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.5),
    0px 0px 2.9px rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
}
.homepage-each-favorite-service-image img {
  width: 70px;
  height: auto;
  min-height: 70px;
}
.homepage-each-favorite-service-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-each-favorite-service-name {
  color: #fefde5;
  font-weight: bolder;
  font-size: 17px;
}
.homepage-each-favorite-service-rating {
  font-size: 20px;
  max-width: 200px;
  color: #37a0f5;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}
.homepage-each-favorite-service-rating-span {
  font-size: 20px;
  margin-left: 10px;
}
.homepage-each-favorite-service-rating-span i {
  color: #4ed164;
  font-size: 18px;
  margin-left: 20px;
}
.homepage-each-favorite-service-rating-span span {
  color: white;
  font-size: 10px;
}
.homepage-each-favorite-service-bizname {
  text-align: center;
  color: #ffe96b;
  font-weight: bolder;
  margin-bottom: 3px;
}
.homepage-each-favorite-service-servicetype {
  text-align: center;
  color: #ccc;
  margin-top: -3px;
}
.about-buku-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.eachCSecFlex {
  width: 33%;
  text-align: center;
}
.search-results-page {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #212c2c;
  min-height: calc(100vh - 200px);
}
.register-business-section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 20px);
}
.register-business-section-content .first-section {
  padding: 0 10px;
}
.register-business-each-section-content {
  width: 50%;
}
.register-business-each-section-content-inner {
  margin-top: 20px;
  width: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: #212c2c;
}
.register-business-each-section-content-first-inner {
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 0;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.register-business-each-section-content-first-inner-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.register-business-each-section-content-first-inner-flex-each {
  width: 50%;
  max-width: 400px;
  margin-right: 5px;
}
.register-business-each-section-content-first-inner-flex-each-second {
  margin-right: 0;
}
.choose-buku-bottom-flex {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home-page-news-list {
  margin: 30px 40px;
  margin-top: 20px;
}
.each-homepage-news-item {
  display: flex !important;
  flex-direction: row;
  background-color: #212c2c;
  border-radius: 10px;
  overflow: hidden;
}
.each-homepage-news-item-each-inner-section {
  width: 50%;
}
.each-homepage-news-item-each-inner-section-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/11.jpg");
  height: 100%;
  min-height: 350px;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 10px solid orange;
}
.each-homepage-news-item-each-inner-section-info {
  padding: 20px;
  border-right: 10px solid orange;
  min-height: 370px;
}
.footer-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 10px;
}
.footer-content-section {
  width: 33.3%;
}
#search-filter-by-services-list {
  position: absolute;
  height: calc(100vh - 200px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  display: none;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-bottom: 45px;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  border-top: 4px solid orange;
}
.search-filters-include-services {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}
#filtered_search_submit_button {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: white;
}
.search-filters-include-services-each-section {
  width: calc(50% - 5px);
}
@keyframes display-anim {
  from {
    margin-top: 100px;
    opacity: 0;
    /*height: 100%;*/
  }

  to {
    margin-top: 0;
    opacity: 1;
    /*height: 100%;*/
  }
}
.search-filters-include-services {
  animation-name: display-anim;
  animation-duration: 0.3s;
}
.search-results-page-content-container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 0 10px;
}
.search-results-list {
  width: 75%;
}
.search-results-right-section {
  width: calc(25% - 5px);
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 200px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.search-results-list-each-item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  border-left: 7px solid #ffe96b;
}
.search-results-list-each-item-left-section {
  margin-right: 10px;
  background: none;
  box-shadow: none;
  width: 35%;
  margin: 0;
  border-radius: 0;
  padding-right: 0;
  padding-bottom: 10px;
  border-top: none;
  height: 100%;
}
.each-search-result-spots-section {
  width: 65%;
}
.search-results-each-time-spot {
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
  width: calc(33% - 4.4px);
}
#register_business_pane {
  position: fixed;
  background-color: #212c2c;
  z-index: 1;
  top: 90px;
  overflow-y: auto;
  height: calc(100vh - 90px);
  width: 100%;
}
#all_services_menu_pane {
  position: fixed;
  background-color: #212c2c;
  z-index: 1;
  top: 90px;
  overflow-y: auto;
  height: calc(100vh - 90px);
  width: 100%;
  overflow-y: auto;
}
.all_service_each_category_item {
  height: 120px;
  width: calc(25% - 3px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 0, 0.1);
  margin-bottom: 4px;
  background: rgba(255, 255, 0, 0.1);
  cursor: pointer;
}
.all_service_each_category_item:hover {
  background-color: rgb(255, 188, 149);
}
#mobile_bottom_nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(32, 45, 56);
  height: 55px;
  width: 100%;
  border-top: 1px solid rgba(255, 166, 0, 0.452);
}
#appointments_list_container{
  min-height: 500px;
  background-color: #212c2c;
}
#user_account_page{
  padding-top: 100px;
  min-height: 500px;
  background-color: #212c2c;
}
.user-account-page-main-container{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}
.user-account-page-main-sections-each{
  width: calc(50% - 2px);
}
@media only screen and (max-width: 700px) {
  body {
    /*background-color: #212c2c;*/
  }
  .header-main-nav {
    display: none;
  }
  .header-menu-new-button {
    display: none;
  }
  .logos-dotcom {
    display: none;
  }
  .header-search-section {
    width: 77%;
  }
  .search-input {
    width: calc(100% - 50px);
  }
  .search-button {
    width: 50px;
  }
  .search-button span {
    display: none;
  }
  .dontShowMobile {
    display: none;
  }
  .about-buku-section {
    display: block;
  }
  .eachCSecFlex {
    width: 100%;
    margin-bottom: 20px;
  }
  .register-business-section-content {
    display: block;
    width: 100%;
  }
  .register-business-each-section-content {
    width: 100%;
    margin: 0;
  }
  .register-business-section-content .first-section {
    padding: 0;
  }
  .register-business-each-section-content-inner {
    border-radius: 0;
    margin-bottom: 20px;
  }
  .register-business-each-section-content-first-inner-flex {
    display: block;
  }
  .register-business-each-section-content-first-inner-flex-each {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .choose-buku-bottom-flex {
    margin-top: 0;
    display: block;
  }
  #home-page-news-list {
  }
  .each-homepage-news-item {
    display: block !important;
  }
  .each-homepage-news-item-each-inner-section {
    width: 100%;
  }
  .each-homepage-news-item-each-inner-section-img {
    border-radius: 0;
    min-height: 200px;
    margin: 0;
  }
  .each-homepage-news-item-each-inner-section-info {
    border: none;
    border-bottom: 10px solid orange;
    min-height: 370px;
  }
  .search-filters-include-services {
    display: block;
  }
  #search-filter-by-services-list{
    height: calc(100vh - 142px);
    border-radius: 0;
  }
  .search-filters-include-services-each-section {
    width: 100%;
  }
  .search-results-page-content-container {
    padding: 0;
  }
  .search-results-page-content-container {
    display: block;
  }
  .search-results-list {
    width: 100%;
  }
  .search-results-right-section {
    width: 100%;
  }
  .search-results-list-each-item {
    display: block;
    border: none;
    border-radius: 0;
    padding-top: 10px;
  }
  .search-results-list-each-item-left-section {
    width: 100%;
    padding: 10px;
  }
  .each-search-result-spots-section {
    width: 100%;
  }
  .search-results-each-time-spot {
    width: calc(50% - 5px);
  }
  #booking_workflow_main_container {
    position: fixed;
    background-color: #212c2c;
    top: 90px;
    overflow-y: auto;
    height: calc(100vh - 90px);
    width: 100%;
  }
  .all_service_each_category_item {
    height: 120px;
    width: calc(33.3% - 3px);
  }
  .user-account-page-main-container{
    display: block;
  }
  .user-account-page-main-sections-each{
    width: 100%;
  }
  .footer-items-container {
    display: block;
    padding-bottom: 70px;
  }
  .footer-content-section {
    width: 100%;
  }
  #mobile_bottom_nav {
    display: block;
  }
}
